h1 {
    font-family: 'Montserrat', sans-serif;  
    font-style: bold;
    font-weight: 700;
    font-size: 80px;   
}
h2 {
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 50px; 
}
p {
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;
    font-weight: 400;
    font-size: 18px; 
    margin: 10px;

}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 25px;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
}
.fst-italic {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
}
.menu {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-weight: bold;
}